<%- include("header") -%>
    <div class="main">
        <div class="text">
            <div id="about">About Me</div>
            <p id="para">I am a passionate developer and love exploring new things. Some of my projects are :-</p>
        </div>
        <div class="cards">
            <div class="card" style="width: 18rem;">
                <a href="https://github.com/tanish1234567/portfolio-website.github.io"><img src="images/proj1.jpg" class="card-img-top imgclass"></a>
            </div>
            <div class="card" style="width: 18rem;">
                <a href="https://github.com/tanish1234567/Front-end-project"><img src="images/proj2.jpg" class="card-img-top imgclass"></a>
            </div>
            <div class="card" style="width: 18rem;">
                <a href="https://github.com/tanish1234567/Front-end-project"><img src="images/proj3.jpg" class="card-img-top imgclass"></a>
            </div>
            <div class="card" style="width: 18rem;">
                <a href="https://github.com/tanish1234567/Front-end-project"><img src="images/proj4.jpg" class="card-img-top imgclass"></a>
            </div>
            <div class="card" style="width: 18rem;">
                <a href="https://github.com/tanish1234567/Front-end-project"><img src="images/proj5.jpg" class="card-img-top imgclass"></a>
            </div>
            <div class="card" style="width: 18rem;">
                <a href="https://github.com/tanish1234567/Front-end-project"><img src="images/proj6.jpg" class="card-img-top imgclass"></a>
            </div>
        </div>
    </div>
    <%- include("footer") -%>