<%- include("header") -%>
    <div class="heading">
        <h1 class="projectheading">Projects</h1>
    </div>
    <div class="main">
        <div class="card">
            <img src="images/img.png" class="card-img-top" alt="portfolio website image">
            <div class="card-body">
                <h5 class="card-title">Portfolio Website</h5>
                <p class="card-text">Key Skills Used:</p>
                <div class = "paragraph"><div class="borderofspan" style="margin-left:0 ;">Html</div>
                    <div class="borderofspan">CSS</div>
                    <div class="borderofspan">Nodejs</div>
                    <div class="borderofspan">Expressjs</div>
                    <div class="borderofspan">Heroku</div>
                </div>
                <div class="buttons">
                    <a href="https://github.com/tanish1234567/Myportfolio" class="btn btn-warning">Git Repository</a>
                    <a href="https://powerful-taiga-42984.herokuapp.com/" class="btn btn-warning">Website Link</a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="images/img2.png" class="card-img-top" alt="a-one website image">
            <div class="card-body">
                <h5 class="card-title">A-One Website</h5>
                <p class="card-text">Key Skills Used:</p>
                <div class = "paragraph"><div class="borderofspan" style="margin-left:0;">Html</div>
                    <div class="borderofspan">CSS</div>
                    <div class="borderofspan">Bootstrap</div>
                </div>
                <div class="buttons">
                    <a href="https://github.com/tanish1234567/A-one" class="btn btn-warning">Git Repository</a>
                    <a href="https://tanish1234567.github.io/A-one/" class="btn btn-warning">Website Link</a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="images/img3.png" class="card-img-top" alt="portfolio website image">
            <div class="card-body">
                <h5 class="card-title">Drum Sticks Project</h5>
                <p class="card-text">Key Skills Used:</p>
                <div class = "paragraph"><div class="borderofspan" style="margin-left:0 ;">Html</div>
                    <div class="borderofspan">CSS</div>
                    <div class="borderofspan">JavaScript</div>
                </div>
                <div class="buttons">
                    <a href="https://github.com/tanish1234567/DrumSticks/" class="btn btn-warning">Git Repository</a>
                    <a href=" https://tanish1234567.github.io/DrumSticks/" class="btn btn-warning">Website Link</a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="images/img2.png" class="card-img-top" alt="a-one website image">
            <div class="card-body">
                <h5 class="card-title">To - Do List</h5>
                <p class="card-text">Key Skills Used:</p>
                <div class = "paragraph"><div class="borderofspan" style="margin-left:0;">Html</div>
                    <div class="borderofspan">CSS</div>
                    <div class="borderofspan">NodeJs</div>
                    <div class="borderofspan">ExpressJs</div>
                    <div class="borderofspan">MongoDb</div>
                    <div class="borderofspan">Heroku</div>
                </div>
                <div class="buttons">
                    <a href="https://github.com/tanish1234567/A-one" class="btn btn-warning">Git Repository</a>
                    <a href="https://tanish1234567.github.io/A-one/" class="btn btn-warning">Website Link</a>
                </div>
            </div>
        </div>
    </div>
    <div class="skillsdiv">
        <div>
            <h2 class="skillsheading">Skills</h2>
        </div>
        <div class = "list">
            <ul>
                <li class="list-items">Html</li>
                <li class="list-items">Css</li>
                <li class="list-items">JavaScript</li>
                <li class="list-items">ReactJs</li>
                <li class="list-items">NodeJs</li>
                <li class="list-items">ExpressJs</li>
            </ul>
            <ul>
                <li class = "list-items">MongoDb</li>
                <li class = "list-items">Mongoose</li>
                <li class = "list-items">Heroku</li>
                <li class = "list-items">C++</li>
                <li class = "list-items">DSA</li>
            </ul>
        </div>
    </div>
    <%- include("footer") -%>