<%- include("header") -%>
    <div class="main">
        <div class="card" id="card1">
            <img src="images/CV photo.jpg" id="image" class="card-img-top">
        </div>
        <div class="card" id="card2">
            <div class="card-body">
                <div id="box1">
                    <h1 class="card-title" id="heading">Hi,I'm Tanish Mahajan.</h1>
                </div>
                <div id="box2">
                    <p class="card-text" id="text">I am a web developer <br> I love to
                        create interative and functional websites. <br>
                        &quot;<em> Talk is Cheap show me the code.</em>&quot; <br>
                        Want to know more about me<a
                            href="https://drive.google.com/file/d/1-JKc8c3pKHfhZ0TTq_qdsQgDrfROQGiN/view?usp=sharing"
                            target="_blank"><button type="button" id="cvbtn" class="btn btn-success">Download
                                CV</button></a></p>
                </div>
                
            </div>
        </div>
    </div>
    <%- include("footer") -%>