<%- include("header") -%>
    <div class="main">
        <div class="card" id="card1">
            <img src="images/CV photo.jpg" id="image" class="card-img-top">
        </div>
        <div class="card" id="card2">
            <div class="card-body">
                <h1 class="card-title" id="heading">Hi,I'm Tanish Mahajan.</h1><p class="card-text"><span id="text">I am a web developer </span><br> <span id="desctext"> I love to create beautiful and functional websites.</span></p>
                <a href="https://drive.google.com/file/d/1KLB5qP5YrALzV0kfh0ZTAGDGCBrm21Fj/view?usp=drivesdk" target="_blank"><button type="button" id="cvbtn" class="btn btn-success">Download CV</button></a> 
            </div>
        </div>
    </div>
    <%- include("footer") -%>