.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 48vw;
    margin-top: 3em;
    color: white;
    background-color: rgb(24, 24, 24);
    border-radius: 15px;
}

.card img {
    border-radius: 15px;
    border: 2px solid black;
}
.borderofspan {
    border: 2px solid white;
    margin: 5px;
    padding: 3px;
}
.paragraph{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start
}
.buttons {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.skillsdiv{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skillsheading{
    font-size: 3.2rem;
    font-family:'Ubuntu', sans-serif;
}
.list{
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.list-items{
    font-weight: 400;
    font-family:'Ubuntu', sans-serif;
    font-size: 2rem;
}
 @media screen and (max-width: 1000px) { 
    .card {
        width: 60vw;
        margin-top: 3em;
        color: white;
        background-color: rgb(24, 24, 24);
        border-radius: 15px; 
    }
   
} 